.page-LikeDeslike{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #f5f5f5;
    flex-direction: column;

    .header{
      margin-bottom: 30px;
      background-color: rgb(133, 124, 124);
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .props{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;
      max-width: 700px;
      width: 100%;
      margin-bottom: 30px;
    }

    footer{
      background-color: rgb(133, 124, 124);
      width: 100%;
      color: white;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}